
.box{
}

.red{
    background-color: #e46e80;
    position: relative;
    width: 300px;
    height: 300px;
    
}

.blue{
    background-color: #5195ee;
    border:2px dotted black;
    position: absolute;
    inset: 70px;
    }

.green{
    background-color: #32b9c1;
    position: relative;
    height: 50px;
    width: 60px;
    top: 20px;
    left: 163px;
    border-radius: 30cqh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow{
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 240px;
    bottom: 10px;
    border-radius:4cqh;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;

}